<p id="notice"><%= notice %></p>

<div class="row">

<h1>Welcome to lala land</h1>

</div>


<div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4">
          <!-- <a href="#" class="thumbnail"> -->
          <%= image_tag(photo.image_url, width: "100%", height: "100%")%>
          <!-- </a> -->
          <p>  <%= photo.caption %></p>
          <p>
          <%= link_to like_photo_path(photo), method: :put do %>
            Like
            <%= photo.get_upvotes.size %>
          <% end %>

          <%= link_to dislike_photo_path(photo), method: :put do %>
            Dislike
            <%= photo.get_downvotes.size %>
        </p>
        </div>

        <% end %>




        <!-- </td> -->
        <% if @photos.blank? %>
          <h4>There are no photos containing the term <%= params[:search] %>.</h4>
        <% end %>

    <% end %>
</div>

<%= link_to ' Click here to upload New Photo', new_photo_path %>
